.head{
    background-color: rgb(41, 39, 39);
    color: antiquewhite;
}
.web{
    display: flex;
    margin-left: -75vh;
    color: antiquewhite;
}
.nav-bar{
    position: fixed;
    width: 15vw;
    height: 100vh;
    background-color:#003464;
}


.nav-items{
    display: inline;
    justify-content: space-around;
}
.nav-item:hover{
    margin-top: -2vh;
    height: 7vh;
    background-color: goldenrod;
}
.nav-item{
  font-size: larger;
  text-align: center;
}
.sub{
    text-align: center;
    margin-left: 2vh;
}
.title{
    font-size: larger;
     text-align:left ;
}
.logo-title{
    display: flex;
}
.logo{
    width: 15vw;
    height: 28vh;
}
.part-2{
    margin-left: 33vh;
    margin-top: 10vh;
    width: 120vw;
    height: 100vh; 
}
.button{
    position: fixed;
    margin-left: 15vh;
    margin-top: -8vh;
    width: 8vw;
    height: 6vh;
    color: white;
    background-color: rgba(0, 90, 224, 0.877);
}
.some{
    display: inline;
    margin-left: 4vh;
    margin-top: 4vh;
    justify-content: space-between;
}

.info{
    margin-left: 2vh;
    width: 10vw;
    height: 10vh;
    display: inline;
    background-color: #252525;
}
.sub-title{
    color: antiquewhite;
    font-size: larger;
}
.logout{
    margin-left: 140vh;
}
.head{
font-size: large;
 width: 17vw;
 height: 8vh;
}
.table{
    border: 1 px solid black;
    width: 140vw;
    height: 100vh;
}